body {
    font-family: Arial, sans-serif;
    background-color: rgb(5, 3, 1);
    color: #333;
}

.container {
    max-width: 800px;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #c2b4b4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

